language: php
sudo: false
dist: xenial

branches:
  except:
    - /^release-.*$/

cache:
  directories:
    - $HOME/.composer/cache
    - $HOME/.php-cs-fixer

env:
  global:
    - COMPOSER_MEMORY_LIMIT=-1

before_install:
  - mv ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/xdebug.ini{,.disabled} || echo "xdebug not available"
  - composer self-update
  - composer global require --no-progress --no-scripts --no-plugins symfony/flex dev-master

install:
  - travis_retry composer update -n --prefer-dist --prefer-stable

script:
  - ./vendor/bin/phpunit -v

jobs:
  include:
    - php: 7.1
      env: LOWEST SYMFONY_DEPRECATIONS_HELP=weak SYMFONY_REQUIRE="3.4.*"
      install:
        - composer require --dev lendable/symfony-messenger-polyfill --no-update
        - travis_retry composer update -n --prefer-lowest --prefer-stable --prefer-dist

    - php: 7.2
      install:
        - composer require --dev symfony/messenger --no-update
        - travis_retry composer update -n --prefer-dist

    - php: 7.3
      install:
        - composer require --dev symfony/messenger --no-update
        - travis_retry composer update -n --prefer-dist


    # Test against latest Symfony 3.4
    - php: 7.4
      env: SYMFONY_REQUIRE="3.4.*"
      install:
        - composer require --dev lendable/symfony-messenger-polyfill --no-update
        - travis_retry composer update -n --prefer-dist

    # Test against latest Symfony 4.4
    - php: 7.4
      env: SYMFONY_REQUIRE="4.4.*"
      install:
        - composer require --dev symfony/messenger --no-update
        - travis_retry composer update -n --prefer-dist

    # Test against latest Symfony 5.0
    - php: 7.4
      env: SYMFONY_REQUIRE="5.0.*"
      install:
        - composer require --dev symfony/messenger --no-update
        - travis_retry composer update -n --prefer-dist

    - stage: Code Quality
      env: CODING_STANDARDS
      php: 7.4
      install:
        - composer require --dev symfony/messenger --no-update
        - travis_retry composer update -n --prefer-dist
      script:
        - ./vendor/bin/php-cs-fixer fix -v --diff --dry-run
        - ./vendor/bin/phpstan analyse -c phpstan.neon -l 7 src

    - stage: Coverage
      php: 7.4
      install:
        - composer require --dev symfony/messenger --no-update
        - travis_retry composer update -n --prefer-dist
      before_script:
        - mv ~/.phpenv/versions/$(phpenv version-name)/etc/conf.d/xdebug.ini{.disabled,}
        - if [[ ! $(php -m | grep -si xdebug) ]]; then echo "xdebug required for coverage"; exit 1; fi
        - composer require --no-update satooshi/php-coveralls:^1.0
      script:
        - ./vendor/bin/phpunit -v --coverage-clover ./build/logs/clover.xml
        - ./vendor/bin/coveralls -v

notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/61c75218816eebde4486
    on_success: change  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: never     # options: [always|never|change] default: always
