<?xml version="1.0" encoding="UTF-8"?>
<!-- disable strict to debug tests -->
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         syntaxCheck="true"
         backupGlobals="true"
         backupStaticAttributes="false">

    <testsuites>
        <testsuite name="Prooph Event Store Bundle Test Suite">
            <directory>./test</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist addUncoveredFilesFromWhitelist="true" processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>
