<?xml version="1.0" encoding="UTF-8"?>
<!-- disable strict to debug tests -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="vendor/autoload.php" colors="true"
         convertErrorsToExceptions="true" convertNoticesToExceptions="true" convertWarningsToExceptions="false"
         backupGlobals="true" backupStaticAttributes="false"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd">
    <coverage includeUncoveredFiles="true" processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src</directory>
        </include>
        <report>
            <text outputFile="php://stdout" showOnlySummary="true"/>
            <clover outputFile="build/logs/clover.xml"/>
        </report>
    </coverage>
    <testsuites>
        <testsuite name="Prooph Event Store Bundle Test Suite">
            <directory>./test</directory>
        </testsuite>
    </testsuites>
</phpunit>
